body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f1e8;
    color: #3b2f2f;
}

header {
    padding: 60px 20px;
    text-align: center;
    background: #d8c3a5;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 20px;
    text-align: center;
}
